@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;600&display=swap");


$primary-font-color: #d19411;
$background-color: #c0dce7;
$weather-font-color: rgb(48, 41, 11);

@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

body {
    background-color: $background-color;
    font-family: "Raleway", sans-serif;
    color: $primary-font-color;
}

.header {
    @include flexCenter(column);
    padding: 25px;
    border-radius: 5px;
    margin: 0 auto;
    width: fit-content;
    height: 20%;
}

.location {
    text-decoration: underline;
}

.site-container {
    max-width: 90%;
    height: 96vh;
    margin: 0 auto;
    // border: 3px solid #fff;
    @include flexCenter(column);
    justify-content: flex-start
}

.weather-container {
    @include flexCenter(row);
    // border: 3px solid #fff;
    min-height: 300px;
    width: 100%;
    border-radius: 20px;
    justify-content: space-evenly;

    @media (max-width: 800px) {
        flex-direction: column;
        margin-top: 400px;


    }
}

.weather-card {
    background-color: white;
    border: 1px solid #bacdd8;
    height: 200px;
    width: 120px;
    padding: 8px;
    border-radius: 12px;
    margin: 10px 0px;
    color: $weather-font-color;
    @include flexCenter(column);


}

.weather-icon {
    font-size: 50px;
}