@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;600&display=swap");


$primary-font-color: #466c9b;
$background-color: #b5d2dd;

body {
    background-color: $background-color;
    font-family: "Raleway", sans-serif;
}



